{% extends "layout.html" %}

{% block title %}
Paradise Vacations | Welcome
{% endblock title %}

{% block content %}

<div {%if active == "login" %} class="container active" {% else %} class="container" {% endif %}>

    <div class="register-section">

        <header onclick="changeToRegister()">Register</header>

        {% if register_error %}
        <p class="error-message">{{register_error}}</p>
        {% endif %}

        <form action="{{ url_for('auth_view.register') }}" method="POST">
            <input type="text" placeholder="First Name" name="first_name" value="{{user.first_name}}" required minlength="2" maxlength="30">
            <input type="text" placeholder="Last Name" name="last_name" value="{{user.last_name}}" required minlength="2" maxlength="30">
            <input type="email" placeholder="Email" name="email" value="{{user.email}}" required minlength="6" maxlength="100">
            <input type="password" placeholder="Password" name="password" required minlength="5" maxlength="100">
            <button type="submit" class="btn">Register</button>
        </form>

    </div>

    <div class="login-section">

        <header onclick="changeToLogin()">Login</header>

        {% if login_error %}
        <p class="error-message">{{login_error}}</p>
        {% endif %}

        <form action="{{ url_for('auth_view.login') }}" method="POST">
            <input type="email" placeholder="Email" name="email" value="{{credentials.email}}" required minlength="6" maxlength="100">
            <input type="password" placeholder="Password" name="password" required minlength="5" maxlength="100">
            <button type="submit" class="btn">Login</button>
        </form>

    </div>

</div>
    
{% endblock content %}