/* CSS file to style the sorting component: */

.sort-container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 80px;
    z-index: 100;
}

.sort-left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #f0f0f0;
    font-size: 16px;
    background-color: #4c7980;
    border-bottom-right-radius: 1000px;
    width: calc(1/9 * 100vw);
}

.sort-middle-section{
    display: flex;
    justify-content: center;
    width: calc(7/9 * 100vw);
}

.sort-middle-section form{
    width: 100%;
}

.sort-right-section{
    display: flex;
    justify-content: center;
    background-color: #d5d5d5;
    font-size: 16px;
    border-bottom-left-radius: 1000px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
    width: calc(1/9 * 100vw);
}

.sort-right-section button{
    border: none;
    background-color: transparent;
    font-weight: 700;
    color: #000000;
    width: 100%;
    transition: all 0.2s ease;
}

.sort-right-section button:hover{
    background-color: #f0f0f0;
    border-bottom-left-radius: 1000px;
}

.radio-input input{
    display: none;
}

.radio-input{
    position: relative;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    background-color: #f0f0f0;
    color: #000000;
    overflow: hidden;
}

.radio-input label{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: 14px;
    border-left: 1px solid rgba(202, 198, 198, 0.4);
    position: relative;
}

.radio-input label:hover{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.7), -2px -3px 5px rgba(0, 0, 0, 0.7);
}

.money-asc-img{
    rotate: 45deg;
}

.money-desc-img{
    rotate: -45deg;
}

.selection{
    display: none;
    position: absolute;
    height: 100%;
    width: calc(100vw / 9);
    z-index: 0;
    left: 0;
    top: 0;
    transition: 0.15s ease;
}

.radio-input label:has(input:checked){
    filter: invert(100%);
}

.radio-input label:has(input:checked) ~ .selection{
    background-color: #4c7980;
    display: inline-block;
}

.radio-input label:nth-child(2):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 1/9));
}
  
.radio-input label:nth-child(3):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 2/9));
}
  
.radio-input label:nth-child(4):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 3/9));
}

.radio-input label:nth-child(5):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 4/9));
}

.radio-input label:nth-child(6):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 5/9));
}

.radio-input label:nth-child(7):has(input:checked) ~ .selection {
    transform: translateX(calc(100vw * 6/9));
}

